<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="partials/head::head">&nbsp;</div>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="index.html" class="site_title">
							<img src="img/mems1.png"/>
						</a>
					</div>

					<div class="clearfix"></div>

					<div th:replace="partials/profilemenu::menu">&nbsp;</div>

					<br />

					<div th:replace="partials/leftmenu :: leftmenu">&nbsp;</div>
					<div th:replace="partials/desktopbuttons::buttons">&nbsp;</div>
				</div>
			</div>

			<div th:replace="partials/topmenu::topmenu">&nbsp;</div>

			<!-- page content -->
			<div class="right_col" role="main">Main Content goes here</div>
			<!-- /page content -->

			<div th:replace="partials/footer::footer">&nbsp;</div>
		</div>
	</div>
	<div th:replace="partials/jscripts::jscripts">&nbsp;</div>
</body>
</html>