<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="partials/backend/head::head">&nbsp;</div>
<link href="../../vendor/summernote/summernote.css" rel="stylesheet" />
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div th:replace="partials/backend/leftcolumn::leftcolumn">&nbsp;</div>

			<div th:replace="partials/backend/topmenu::topmenu">&nbsp;</div>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div th:replace="partials/backend/pagetitle::pagetitle"></div>
					<p>
						Id:<span th:text="${question.id}"></span>
					</p>
					<p>
						Text:<span th:text="${question.text}"></span>
					</p>
					<p>
						Subject:<span th:text="${question.subject.name}"></span>
					</p>
					<p>
						Type:<span th:text="${question.type}"></span>
					</p>
					<p>Choices:
						<ul>
						<li th:each="choice,iterationStatus  : ${question.choices}">
							<span th:text="${iterationStatus.count+'.'}">1</span>
							<span th:text="${choice.text}"></span>
						</li>
						</ul>
					</p>
				</div>
			</div>
			<!-- /page content -->

			<div th:replace="partials/backend/footer::footer">&nbsp;</div>
		</div>
	</div>
	<div th:replace="partials/backend/jscripts::jscripts">&nbsp;</div>
	
</body>
</html>