<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="partials/backend/head::head">&nbsp;</div>
<link href="../../vendor/summernote/summernote.css" rel="stylesheet" />
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div th:replace="partials/backend/leftcolumn::leftcolumn">&nbsp;</div>

			<div th:replace="partials/backend/topmenu::topmenu">&nbsp;</div>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div th:replace="partials/backend/pagetitle::pagetitle"></div>
					<p>
						Id:<span th:text="${subject.id}"></span>
					</p>
					<p>
						Mission:<span th:text="${subject.mission}"></span>
					</p>
					<p>
						Name:<span th:text="${subject.name}"></span>
					</p>
					<p>
						Start Date:<span th:text="${subject.startDate}"></span>
					</p>
				</div>
			</div>
			<!-- /page content -->

			<div th:replace="partials/backend/footer::footer">&nbsp;</div>
		</div>
	</div>
	<div th:replace="partials/backend/jscripts::jscripts">&nbsp;</div>
	
</body>
</html>