<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="partials/backend/head::head">&nbsp;</div>
<link rel="stylesheet" type="text/css"
	href="/vendor/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="/vendor/datatables/extensions/TableTools/css/dataTables.tableTools.min.css">
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div th:replace="partials/backend/leftcolumn::leftcolumn">&nbsp;</div>

			<div th:replace="partials/backend/topmenu::topmenu">&nbsp;</div>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div th:replace="partials/backend/pagetitle::pagetitle"></div>
					<div class="clearfix"></div>
					<a class="btn btn-success btn-sm" 
											href="/admin/question/create"
											th:utext="#{action.question.new}"><i class='fa fa-new'></i></a>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<table id="list_table"
								class="table table-responsive table-striped table-bordered dt-responsive">
								<thead>
									<tr>
										<th th:text="#{th.question.id}">Question ID</th>
										<th th:text="#{th.question.text}">Question Text</th>
										<th th:text="#{th.question.total.marks}">Question Mission</th>
										<th th:text="#{th.question.type}">Type</th>
									    <th th:text="#{th.question.subject}">Subject</th>
										<th th:text="#{th.question.actions}">Action Buttons</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="question:${list}">
										<td th:text="${question.id}">
										<td th:utext="${question.text}">
										<td th:text="${question.totalMarks}">
										<td th:utext="${question.type}">
										<td th:text="${question.subject.name}">
										
										<td><a th:attr="data-confirm=#{warning.delete}+${question.id}" 
											class="btn btn-danger btn-sm"
											th:href="${'/admin/question/delete/'+question.id}"
											th:utext="#{action.question.delete}"><i class='fa fa-times'></i></a> 
											<a class="btn btn-warning btn-sm"
											th:href="${'/admin/question/edit/'+question.id}"
											th:utext="#{action.question.edit}"><i class='fa fa-edit'></i></a> 
											</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- /page content -->

			<div th:replace="partials/backend/footer::footer">&nbsp;</div>
		</div>
	</div>
	<div th:replace="partials/backend/jscripts::jscripts">&nbsp;</div>

	<script type="text/javascript"
		src="/vendor/datatables/jquery.dataTables.min.js"></script>

	<script type="text/javascript"
		src="/vendor/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$("#list_table")
					.DataTable(
							{
								dom : 'T<"clear">lfrtip',
								tableTools : {
									"sSwfPath" : "/vendor/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
								}
							});
		});
		$(function(){
	        $( "a[data-confirm]").on("click", function (e) {
	            if(OpenDialog($(this).attr('data-confirm'))){
	                
	            }
	            else
	            {
	                evt = (e)?e:window.event;
	                evt.preventDefault();
	            }
	            
	        } );
	        $("a[data-lang-value]").on("click", function (e) {
	         lang = $(this).attr('data-lang-value');
	         $(".note-current-language").html($(this).html());
	         e.preventDefault();
	        } );
	        
	    });
	    function OpenDialog(content){
	        if(confirm(content)) return true;
	        else return false;
	    }
	</script>
</body>
</html>