#edit-avatar {
	position: relative;
    bottom: 65px;
    /* left: 65px; */
    font-size: 14px;
    cursor: pointer;
}
#user-avatar
{
	width:100px;
	height:100px;
}
.form-group.full .btn {
	width: 100%;
}
.center{text-align:center;}