<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading">The faster way to create, give, and take the examination. </h1>
			<hr>
			<p>Enter your questions and create your question bank for your subject once and then enjoy creating 
			   different levels examination papers randomly. You can conduct online objective type questions examination
			   without any effort with just few clicks!</p>
			<a href="#about" class="btn btn-primary btn-xl page-scroll">Find More</a>
		</div>
	</div>
</header>

</html>