<html xmlns:th="http://www.thymeleaf.org">
<!-- top navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top"
	th:fragment="menu">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> Menu <i
					class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand page-scroll" href="#page-top">MUM Exam Management System (MEMS)</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li th:if="${title=='Home'}"><a class="page-scroll" href="#about">About</a></li>
				<li th:unless="${title=='Home'}"><a  href="index">Home</a></li>
				
				<li th:class="${title=='exams'?'active':''}" th:if="${user}"><a href="exams">My Exams</a></li>
				<li th:if="${user!=null && user.hasRole('Admin')}"><a href="admin" >Backend</a></li>
				<li th:class="${title=='Profile'?'active':''}" th:if="${user}"><a href="profile" th:text="${user.profile.firstName+' - Profile'}">Profile</a></li>
				<li th:class="${title=='Login'?'active':''}" th:if="${user}"><a href="logout">Logout</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<!-- /top navigation -->
</html>