<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{title.login.page}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/animate-custom.css" rel="stylesheet"
	th:href="@{css/animate-custom.css}" />
<link href="../static/css/login-one.css" rel="stylesheet"
	th:href="@{css/login-one.css}" />
<link href="vendor/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{vendor/bootstrap/css/bootstrap.min.css}" />
<script src="vendor/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>

</head>
<body>
	<section>
		<div id="container_profile">
			<!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
			<a class="hiddenanchor" id="toregister"></a> <a class="hiddenanchor"
				id="tologin"></a>
			<div class="col-md-3"></div>
			<div id="wrapper" class="col-md-6">
				<div id="profile" class="animate form">
					<form method="post" th:action="@{/profile}"
						th:object="${profileForm}" autocomplete="on">
						<fieldset>
							<legend th:text="#{legend.personnel.info}">Your
								Personnel Information</legend>
							<div class="form-group">
								<input class="form-control" id="firstname"
									th:field="*{firstName}" required="required" type="text"
									th:placeholder="#{placeholder.firstname}" />
								<p th:if="${#fields.hasErrors('firstName')}"
									class="label label-danger" th:errors="*{firstName}">Incorrect
									First Name</p>
							</div>
							<div class="form-group">
								<input class="form-control" id="lastname" th:field="*{lastName}"
									required="required" type="text"
									th:placeholder="#{placeholder.lastname}" />
								<p th:if="${#fields.hasErrors('lastName')}"
									class="label label-danger" th:errors="*{lastName}">Incorrect
									Last Name</p>
							</div>
							<div class="form-group">
								<input class="form-control" id="phonenumber"
									th:field="*{phoneNumber}" required="required" type="text"
									placeholder="Phone Number"
									th:placeholder="#{placeholder.phone.number}" />
								<p th:if="${#fields.hasErrors('phoneNumber')}"
									class="label label-danger" th:errors="*{phoneNumber}">Phone
									Number Error</p>
							</div>
						</fieldset>
						<fieldset>
							<legend th:text="#{legend.change.password}">Change
								Password</legend>
							<span th:if="${passwordChanged}" class="label label-success">
								Your Password Was Changed Successfully.
							</span>
							<div class="form-group">
								<input class="form-control" id="oldPassword"
									th:field="*{user.oldPassword}" type="password"
									th:placeholder="#{placeholder.enter.old.password}" />
								<p th:if="${#fields.hasErrors('user.oldPassword')}"
									class="label label-danger" th:errors="*{user.oldPassword}">Incorrect
									Old Password</p>
							</div>
							<div class="form-group">
								<input class="form-control" id="password"
									th:field="*{user.password}" type="password"
									th:placeholder="#{placeholder.enter.new.password}" />
								<p th:if="${#fields.hasErrors('user.password')}"
									class="label label-danger" th:errors="*{user.password}">Incorrect
									Password</p>
							</div>
							<div class="form-group">
								<input class="form-control" id="confirmpassword"
									th:field="*{user.passwordConfirm}" type="password"
									th:placeholder="#{placeholder.confirm.your.password}" />
								<p th:if="${#fields.hasErrors('user.passwordConfirm')}"
									class="label label-danger" th:errors="*{user.passwordConfirm}">Passwords
									Does not match</p>
							</div>
						</fieldset>
						<div class="form-group right">
							<input class="btn btn-success btn-lg" type="submit"
								th:value="#{button.save.profile.info}" />
						</div>

					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>